.header {
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 10px;
}

.punkLogo {
  width: 15vw;
  max-width: 200px;
}

.searchBar {
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  display: flex;
  border-radius: 50px;
  align-items: center;
  margin-left: 20px;
}

.searchIconContainer {
  margin: 10px;
}

.searchInput {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: #eee;
  font-size: 16px;
}

.wrap {
  display: flex;
  align-items: center;
}

.wrap-top {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}

.headerItems {
  display: flex;
  color: #a1a5b0;
}

.headerItems > p:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 400ms;
}

/* counter the searchBar flex 1 behavior */
.headerItems > p {
  margin: 10px;
}

.headerActions {
  display: flex;
  align-items: center;
}

.headerActions > div {
  margin: 10px;
}

.themeSwitchContainer {
  display: flex;
  background-color: #1c1c1e;
  border-radius: 50px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.themeSwitchContainer > img {
  height: 25px;
}

.themeSwitchContainer:hover {
  background-color: #a1a5b0;
}

.loginButton {
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 1.5vw 2.5vw;
  border-radius: 50px;
  transition: all 400ms;
  margin-left: 10px;
}

.loginButton p {
  color: #000;
  font-weight: 600;
  transition: all 200ms;
}

.loginButton:hover {
  box-shadow: 1px 1px 30px white;
}

.loginButton:hover p {
  transform: scale(1.08);
  color: white;
  text-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 768px) {
  .header {
    height: 30%;
  }
  .header {
    flex-direction: column;
    width: 100%;
  }

  .wrap-top {
    width: 90%;
  }

  .wrap {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
