.main {
  max-height: 50vh;
}

.mainContent {
  display: flex;
  padding: 0 20px 60px 20px;
  border-bottom: 1px solid #fff;
  margin: 5em 0;
}

.punkHighlight {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.punkContainer {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}

.selectedPunk {
  object-fit: contain;
  max-width: min(25vw, 35vh);
  max-height: 25vw;
}
.punkDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
}

.title {
  font-size: 5em;
  font-weight: 800;
}

.itemNumber {
  color: #a1a5b0;
  font-size: 3vw;
  align-self: center;
  margin-left: 20px;
}

.bidButtonContainer {
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 15px 40px;
  border-radius: 10px;
  width: 15%;
  min-width: 200px;
  transition: box-shadow 300ms;
}

.bidButtonContainer a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #111;
  font-size: 1em;
  font-weight: 600;
}

.priceContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.bidButtonContainer:hover {
  box-shadow: 1px 1px 20px white;
  cursor: pointer;
}

.bidButtonContainer:active {
  transform: scale(0.98);
}

.owner {
  display: flex;
  margin: 10px 0;
  height: 50px;
}

.owner > div {
  margin: 0 5px;
}

.ownerImageContainer {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: contain;
}

.ownerImageContainer > img {
  height: 100%;
  width: 100%;
}

.ownerDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.ownerDetails > a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.ownerNameAndHandle {
  flex: 1;
}

.ownerHandle:hover {
  color: white;
}

.ownerHandle {
  color: #00ebfe;
}

.ownerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ownerLinkImage {
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: 1px solid transparent;
  margin: 0 0 0 10px;
  transition: all 600ms;
}

.ownerLinkImage:hover {
  cursor: pointer;
  border: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .main {
    max-height: fit-content;
  }

  .mainContent {
    margin: 0;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    padding: 0 0 60px 0;
  }

  .selectedPunk {
    max-height: none;
    max-width: 80%;
    margin: auto;
    border-radius: 20px;
  }

  .punkContainer {
    margin: 0;
    width: 100%;
  }

  .punkDetails {
    align-items: center;
  }

  .punkDetails > div {
    margin: 1em 0;
  }

  .title {
    padding: 0 0.25em;
  }

  .itemNumber {
    font-size: 10vw;
  }

  .ownerDetails {
    align-items: center;
  }

  .ownerLinkImage {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 3em;
  }

  .owner {
    width: 100%;
    padding: 0 0.25em;
  }

  .ownerDetails a p {
    margin: 0.5em;
  }
}
