.punkList {
  cursor: pointer;
  display: flex;
  overflow: scroll;
  padding-bottom: 80px;
  border-bottom: 1px solid white;
  scroll-behavior: smooth;
}

.punkCard {
  padding: 20px;
}

.punkList::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .punkList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}
